[data-md-color-primary=light-blue] {
    --md-primary-fg-color: #359a7a;
    --md-primary-fg-color--light: #359a7a;
    --md-primary-fg-color--dark: #359a7a;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
}

[data-md-color-primary=light-blue] .md-footer {
    background-color: #359a7a;
    color: var(--md-footer-fg-color);
}

[data-md-color-primary=blue] {
  --md-primary-fg-color: #000;
  --md-primary-fg-color--light: #000;
  --md-primary-fg-color--dark: #000;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}
[data-md-color-primary=blue]  .md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
  color: var(--md-accent-fg-color);
}


.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 1.9rem;
}

.mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill:%23ffffff' /></svg>") no-repeat bottom,
                linear-gradient(to bottom, var(--md-primary-fg-color), #359a7a 50%, #cfea11 99%, var(--md-default-bg-color) 99%) !important;
}

